p {
    text-align: left;
}

.frm {
    margin: '10px 10px 10px 0';
}

.inp {
    background-color: whitesmoke;
    width: 100%;
    font-size: 0.75rem;
}

label {
    padding-left: 5px;
    margin-bottom: 0px;
}

.search {
    width: 150px;
    margin-left: 10px;
}

.input {
    margin-left: 10px;
}

.narrow {
    width: 100px;
}

.medium {
    width: 200px;
}

.medium-wide {
    width: 350px;
}

.wide {
    width: 620px;
}