p {
    background-color: rgb(245, 245, 245, 0.6);
    border-radius: 5px;
}

.input-form {
    background-color: whitesmoke;
    padding: 10px;
    border: white;
    border-radius: 10px;
    width: 275px;
}

.search-text {
    font-size: 0.75rem;
}

.pdf-doc {
    padding-left: 30px;
}

.pdf-div {
    color: rgb(31, 50, 216);
    font-family: sans-serif;
    font-size: 30px;
    background-color: rgba(212, 214, 211, 0.15);
}

.link {
    color: rgb(31, 50, 216);
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 5px;
    font-size: 15px;
}

.cent {
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .wide {
        width: 300px;
    }
}