.wrap {
    position: relative;
    /* overflow: hidden; */
    padding: 0px;
    /* border: 1px dashed green; */
}

.wrap .main-page {
    padding: 5px;
    position: relative;
    z-index: 2;
}

.wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    opacity: 0.6;
}

.input-form {
    background-color: whitesmoke;
    padding: 10px;
    border: white;
    border-radius: 10px;
    width: 275px;
}

.search-text {
    font-size: 0.75rem;
}

.pdf-doc {
    padding-left: 30px;
}

.link {
    color: white;
}

.cent {
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .wrap img {
        position: absolute;
        left: 0;
        top: 0;
        /* width: 100%; */
        height: 100vh;
        opacity: 0.6;
    }

    .wide {
        width: 300px;
    }
}